html, body {
    background-color: #F3EFF5;
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

.navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-light .navbar-brand {
    color: #72B01D;
    font-weight: 600;
}

.carousel-inner>.carousel-item>img {
    width: 100%;
}

.carousel-caption {
    top: 40%;
}

.carousel-caption>.outer-order-form>h1 {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 15px;
}

.overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(69,73,85, 0.3);
}

a.button-find {
    display: inline-block;
    padding: 0.8em 5em;
    margin: 0 0.5em 0.5em 0;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #72B01D;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}

a.button-find:active {
    top:0.1em;
}

.restaurants>.container {
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.container h3{
    color: #3F7D20;
    font-weight: 600;
}

.card .card-img img { 
    border-radius: 6px 6px 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .card-img { 
    position: relative; 
    padding: 0; 
    display: table;
    height: 180px; 
}

.card-body h5 a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #72B01D;
}

.card-body h5 a:hover {
    text-decoration: none;
    color: #3F7D20;
}

.card-body p {
    font-size: 12px;
}

.card-container .col-md-3 {
    margin-top: 20px;
}


/* Menu Restaurant */

.header-restaurant {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.header-caption {
    position: absolute;
    bottom: 8px;
    left: 16px;
    z-index: 1;
    text-align: left;
}

.header-caption h3 {
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
}

.header-caption h5 {
    color: #FFFFFF;
    font-size: 15px;
}

.header-restaurant img {
    width: 100%;
}

.container-menu {
    background-color: #FFFFFF;
    padding: 0;
    padding-top: 0 !important;
}

.container {
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.card .card-body .inline{
    display:  flex;
    justify-content: space-between;
 }

 .card .card-body .inline > *{
     display: inline-block;
 }

 .card .card-body .inline > *:nth-child(2) {
     float: right;
     width: 30%;
 }

 .card .card-body .inline button{
    background: #72B01D;
    font-weight: 400;
 }

 .card .card-body .inline .btn-number {
     background: #72B01D;
 }

 .card-container .inline p {
    width: 40%;
 }

 .card-container .inline>button {
     width: 60%;
 }

 .card-container .inline .tambah-kurang {
     width: 60%;
 }

 .card-container .inline .tambah-kurang .input-group {
     width: 100%;
 }


.preview-price {
    width: 50%;
    height: 40px;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    left: 50%;
    margin-left: -25%;
    padding: 0 25px;
    background: #72B01D;
    border-radius: 6px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.preview-price > * {
    display: inline-block;
    color: white;
}

.preview-price > *:nth-child(1), .preview-price > *:nth-child(2) {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.preview-price > *:nth-child(3) {
    float: right;
    margin-top: 5px;
    background: transparent;
    border: 1px solid white;
}

#modal-cart .modal-footer h5 {
    font-size: 16px;
}

#modal-cart .modal-footer button {
    font-size: 12px;
}

#modal-cart .modal-footer {
    display: block;
}

#modal-cart .modal-footer * {
    margin-left: 0 !important;
}



/*-----------Payment-----------*/

.container.payment-container {
    background-color: #FFFFFF;
}

.payment-container .card {
    margin-bottom: 30px;
}

.payment-container .card .card-header {
    background-color: #72B01D;
}

.card-order table td:nth-child(2) {
    text-align: right;
}

.card-order table td button {
    background-color: #72B01D;
    font-size: 14px;
}

.card-detail-order table td:nth-child(4) {
    text-align: right;
}

.card-order .card-footer h5 {
    display: inline;
}

.card-order .card-footer h5 {
    text-align: right;
}

.card-order .card-footer h5:nth-child(2) {
    float: right;
}

#modalInputKodePromo .modal-footer button {
    background-color: #72B01D;
    font-size: 14px;
}

a.button-order {
    display: inline-block;
    padding: 0.8em 5em;
    margin: 0 0.5em 0.5em 0;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #72B01D;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}

a.button-order:active {
    top:0.1em;
}

.button-order-div {
    text-align: center;
    margin-top: 50px;
}